
<mat-tab-group [color]="primary" style="background: #080808de">
<mat-tab label="Register">
    <mat-card-header style="color:#fff; margin:5px; border-radius:20px; font-size: 16px">
     Employee Registration Form <mat-icon>person_add</mat-icon> 
    
    </mat-card-header>

<form class="example-form"  [formGroup]="profileForm" (ngSubmit)="addEmployee()" style="align-items: center">
  <h6>Note: fields marked with the asterisk  (*)  are mandatory</h6>
  <h2>Basic Details</h2>
  <mat-divider></mat-divider>
  <table class="example-full-width" cellspacing="0" >
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" required formControlName="name">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Age" type="number"  required formControlName="age">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field>
          <mat-label>Gender</mat-label>
          <select matNativeControl required formControlName="gender" required>

            <option value="male">Male</option>
            <option value="female">Female</option>


          </select>
        </mat-form-field>
      </td>
      <td>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Employee Id" required formControlName="employeeId">
          </mat-form-field>
        </td>
    </tr>
  </table>
  <h2>Address</h2>
  <mat-divider></mat-divider>
  <h4>Work Address</h4>

  <table class="example-full-width" cellspacing="0" formGroupName="tempAddress">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput style="color:#ffffff" placeholder="City" required formControlName="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" required  formControlName="state">
        </mat-form-field>
      </td>
      <td>
      
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Country" required formControlName="country">
    
            </mat-form-field>

      </td>
      <td>
       
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Street" required formControlName="street"></textarea>
          </mat-form-field>
      
      </td>
    </tr>
  </table>
  <h4>Permanent Address</h4>

  <table class="example-full-width" cellspacing="0" formGroupName="permanentAddress">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput style="color:brown" placeholder="City" formControlName="city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" formControlName="state">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country" formControlName="country">

        </mat-form-field>
      </td>
      <td>
       
          <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Street" formControlName="street"></textarea>
            </mat-form-field>
      </td>
    </tr>
  </table>

  <h2>Contact Details</h2>
  <mat-divider></mat-divider>
  <h4>Personal Contacts</h4>

  <table class="example-full-width" cellspacing="0" formGroupName="homeContact">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" required matFocused formControlName='email'>

        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone" type="tel" required formControlName='phone'>

        </mat-form-field>
      </td>
    </tr>
  </table>
  <h4>Official</h4>

  <table class="example-full-width" cellspacing="0" formGroupName="workContact">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" type="email" formControlName='email'>

        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone" type="tel" formControlName='phone'>

        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-divider></mat-divider>
  <table class="example-full-width" cellspacing="0" formGroupName="workContact" style="align-items: center">
    <button [disabled]="!profileForm?.valid"  type="submit" mat-raised-button color=red style='float:right; margin-right:200px; width:200px; height:50px; align-self: center; align-items: center'>
      <mat-icon style="align-items: center">save</mat-icon>
      Register</button>
    </table>
</form>
</mat-tab>
<mat-tab label="Data">


<table  class="example-full-width" cellspacing="0" >
  <tr style="background: #111111; width:100%" class="example-full-width" cellspacing="0">
    <td>
      <mat-form-field style="background:#111111b7; margin:20px; width:300px; border-radius:60px;padding:15px" >
       
        <input matInput placeholder="Filter By Gender"  [(ngModel)]="searchText">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field style="background:#111111b7 ; margin:20px; width:300px">
        <input matInput placeholder="Search by Age"  >
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </td>
  </tr>
</table>



  <table class="table table-dark table-hover table-striped">
    <thead class="thead-light" >
      <tr>
        <th>Name</th>
        <th>Employee ID</th>
        <th>Age</th>  
        <th>Gender</th>
        <th>Work Address</th>
        <th>Permanent Address</th>
        <th>Official contact(Email/Phone)</th>
        <th>Personal contact(Email/Phone)</th>
       
        

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataSource">
        <td>{{data.name}}</td>
        <td>{{data.id}}</td>
        <td>{{data.age}}</td>
        <td>{{data.gender }}</td>
        <td>{{data.tempAddress.street}}, {{data.tempAddress.city}} <br>{{data.tempAddress.state}}, {{data.tempAddress.country}}</td>
        <td>{{data.permanentAddress.street}}, {{data.permanentAddress.city}} <br>{{data.permanentAddress.state}}, {{data.permanentAddress.country}}</td>
        <td> {{data.workContact.email}}/{{data.workContact.phone}}</td>
        <td> {{data.homeContact.email}}/{{data.homeContact.phone}}</td>
      </tr>
    </tbody>
  </table>

</mat-tab>
</mat-tab-group>



<router-outlet></router-outlet>